# Native build outputs
android/.gradle/
android/build/
android/app/build/
android/local.properties
ios/build/
ios/Pods/
ios/DerivedData/
ios/*.xcworkspace/xcuserdata/
ios/*.xcodeproj/xcuserdata/
ios/*.xcodeproj/project.xcworkspace/xcuserdata/
ios/Podfile.lock

# Metro
.metro-health-check*

# OS
.DS_Store
